[color]
	ui = auto
[credential]
	helper = osxkeychain
[core]
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[user]
	name = comestime
	email = comestime@gmail.com
[difftool "tkdiff"]
	path = /usr/local/bin/tkdiff
	trustExitCode = false
[diff]
	tool = tkdiff
